html {
font-family: sans-serif;
}
  
body{
    background: #e2e2e2;
}
section{
    margin: 12px;
}

.login{
    margin: 106px 200px 39px 200px;
    background: #fafdfd;
    padding: 15px;
    border-radius: 3px;
}

.login h1{
    margin: 0px 0 0 5px;
    font-size: 3.2rem;
}

.login .submit{
    text-align: right;
}