.chip
	font-size 14px
	display inline-flex
	align-items center
	background primary-color
	color light-color
	padding .5rem 1rem .5rem 1.5rem
	border-radius 40px
	margin-bottom .3rem
	.material-icons
		font-size 20px
		line-height 0
		margin-left .5rem
		cursor pointer