// Variables
primary-color = #C10032
dark-color    = #000000
light-color   = #FFFFFF
grey          = #ccc
grey-2        = #9D9D9D
red           = #E13115
green         = #6AC72A

button-color  = primary-color